body{
  background-color: rgb(93, 93, 93);
  color: rgb(93, 93, 93);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.app{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cat-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cat-tile{
  align-items: center;
  background-color: greenyellow;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  margin: 0.1em;
  width: 5em;
  padding: 0.5em;
  pointer-events: none;
}

.q-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50em;
}

.q-tile{
  align-items: center;
  background-color: greenyellow;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  height: 5em;
  margin: 0.2em;
  width: 11.08em;
  padding: 0.5em;
}

.title{
  align-items: center;
  background-color: greenyellow;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 0.1em;
  padding: 0.5em;
  pointer-events: none;
  width: 23.7em;
}

.q-tile:hover{
  background-color: rgb(76, 228, 255);
  cursor: pointer;
}
